name: omni_for_pyload
description: "Your all-in-one mobile app for pyLoad."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter
  openapi_client:
      path: ./packages/openapi_client

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
